@page "/"
@inject NavigationManager NavManager
<PageTitle>Welcome!</PageTitle>

<div class="fixed inset-0 w-full h-full bg-gradient-to-br from-gray-100 to-gray-300 -z-10">
    
</div>

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-stone-600 md:text-5xl lg:text-6xl dark:text-white text-center">
    Welcome to my 
    <span class="text-lime-600 dark:text-lime-700">
        Fitness Tracker
    </span>
</h1>

<br>
<h2 class="mb-3 text-3xl font-bold leading-none tracking-tight text-zinc-800 md:text-4xl lg:text-5xl dark:text-stone-400 text-center ">
    Your 
    <span class="font-extrabold text-lime-600 dark:text-blue-300">
        tomorrow self
    </span> 
    starts 
    <span class="font-extrabold text-lime-800 dark:text-blue-300 ">
        today!
    </span> 
</h2>

<p class="flex items-center justify-center w-full">
    <img class="transition-all duration-1000 border-3 border-stone-600 rounded-lg" src="https://media.istockphoto.com/id/1420515189/photo/exercise-workout-and-training-with-a-healthy-man-training-for-sport-fitness-and-wellness.jpg?s=612x612&w=0&k=20&c=IVR0ZPuq6lDA7BKmVfG_1Zya1Z1qNjSzj2q4KNc9M_I=" /> 
</p>

<br>
<br>

<p class="mb-2 text-2xl font-bold text-center leading-none tracking-tight">
    Join the fitter half!
</p>

<br>
<br>

<div class="flex justify-center w-full">
  <button @onclick="StartBtn" class="bg-blue-500 align-center text-white font-bold flex items-center rounded-md border border-slate-300 py-2 px-4 text-center text-sm transition-all shadow-sm tracking-wider hover:bg-blue-600 transition-color duration-250" type="button">
    Start today!
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 ml-1.5">
      <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
    </svg>
  </button>
</div>

@code{
    private void StartBtn(){
        NavManager.NavigateTo("/auth");
    }
}