@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>
<div class="fixed inset-0 w-full h-full bg-gradient-to-br from-gray-100 to-gray-300 -z-10"> </div>
<h1 class="pt-3 font-extrabold text-lime-700 text-center text-3xl">Forgot password confirmation</h1>
<p role="alert" class="text-center text-lg text-stone-600 mt-4">
    Please check your email to reset your password!
</p>
